<style type="text/css">
 	h2{
 		text-align: center;
 	}
 	h5{
 		color: gray;
 	}
 	.category_evaluate_div{
 		float: none;
 	}
 	.category_div{
 		float: left;
 	}
 	.evaluate_div{
 		text-align: left;
 		float: right;
 	}
 	.tags_div{
 		display: absolute;
 		float: none;
 	}
</style>
<h2><%= @blog.title %><sup style="font-size:14px;color:orange;">----<%= @blog.category.name %></sup></h2>
<div class="category_evaluate_div">
	<div class="category_div"><span>分享者： <span style="color:orange"><%= @blog.user.login_in_nickname_or_others %></span></span></div>
	<div class="evaluate_div">
		<%= form_for(@blog,url: user_blog_path(@blog),method: 'put')  do |f| %>
			<%= hidden_field_tag(:is_like, "1") %>
			<%= f.submit "赞#{@is_like_count}" %>
		<% end %>
		<%= form_for(@blog,url: user_blog_path(@blog),method: 'put')  do |f| %>
			<%= hidden_field_tag(:is_like, "-1") %>
			<%= f.submit "踩#{@is_dislike_count}" %>
		<% end %>
	</div>
</div>
<br />
<div class="tags_div">
	<h5><span style="color:#d2d2d2">tags:</span> <%= @blog.tags %></h5>
</div>

<hr />
<p><%= sanitize @blog.body %></p>
<hr />
<div style="margin-top: 50px;">
	<% if @blog.user_id == current_user.try(:id) %>
		<%= link_to '编辑',edit_user_blog_path(@blog), class:"btn btn-defalut" %>
	<% end %>
</div>
