<!DOCTYPE html>
<html>
<head>
  <title>博文天地</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>"/>

  <meta name="baidu-site-verification" content="DcWyZL9JEn" />
</head>
<style type="text/css">
  .body{
      margin: 0 auto;
      width: 100%;
  }
  .navbar{
    margin-bottom: 0px;
    background-color: #F0F0F0;
    z-index: 1;
    border-width: 0px;
  }
  .footer{
    clear: both;
    margin: 0 auto;
    overflow: hidden;
  }
  .footer .container{
    /*height: 35px;*/
    /*background-color: #333;*/
    z-index: 9;
    width: 100%;
    position: relative;
    border: 0px none;
    padding: 0px;
    margin-bottom: 0px;
  }
  .footer .info {
    color: #666;
    line-height: 24px;
    text-align: center;
    padding: 12px 0px;
    margin-top: 15px;
    border-top: 1px solid #DBE7ED;
  }
</style>
<body>
<nav class="navbar navbar-default"  role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">揣度网</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="#">Link</a></li>-->
        <!--<li><a href="#">Link</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
      <% if current_user %>
        <form  action="<%= user_blogs_path %>" class="navbar-form navbar-left"  role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="个人博客搜索"   value="<%= params[:my_blog_search_text] %>" name="my_blog_search_text">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><a href="<%= users_path %>"><font color = blue><%= current_user.login_in_nickname_or_others %></font></a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "新增博客",new_user_blog_path %></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><%= link_to '退出', login_out_user_sessions_path, method: :delete, data: { confirm: '确定退出吗?' },
          class: "btn" %></li>
        <% else %>
          <li><a href="<%= login_in_user_sessions_path %>"><font color = "#5E5E5E">登录</font></a></li>
          <li><a href="<%= new_user_path %>"><font color ="#5E5E5E">注册</font></a></li>
        <% end %>
        
        
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="body" style= "width:90%; align:center;background-color:#fff">
  <%= yield %>
</div>

<footer class="footer">
      <div class="container">
        <div class="info">
            <a href="#" target="_blank">关于网站</a>|<a href="mailto:swfeiyang@gmail.com" target="_blank">联系我</a> |  
            <a href="#" target="_blank">版权声明</a> 
            <br>
            本站部分文章、资源来自互联网，版权归原作者及网站所有，如果侵犯了您的权利，请及时致信告知我站.<br>
            版权声明：凡文章来源注明为本站的文章、图片、视频等信息，请在转载时保留本站链接。<br>
            © 2014-2015 <strong><a href="#">王森个人网站</a> </strong>
        </div>
        <div class="row footer-bottom">
          <ul class="list-inline text-center">
            <li><a href="http://www.miitbeian.gov.cn/" target="_blank">鲁ICP备15002863号</a></li><li></li>
          </ul>
        </div>
      </div>
</footer>

</body>
</html>
