<style type="text/css">
	.submit_change_category
	{
		display: none;
	}
</style>
<script type="text/javascript">
	$(function(){
    $(".select_this_category").change(function() {
    	$(this).next().click();
    });
}); 
</script>

<div style ="height:50px">
	<div style = "height: 0px; padding: 0px;text-align:center">
	  <h3 style = "margin-top: 15px;">选择语言</h3>
	</div>

	<div style= "float: right">
	    <div style = "float: right">
	      <form action= "<%= user_categories_path %>" class="navbar-form navbar-right" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder= "语言搜索" value = "<%= params[:category_search_text] %>" name="category_search_text">
	        </div>
	        <button type="submit" class="btn btn-default">搜索</button>
	      </form>
	    </div>
	</div>
</div>
<div>
<%= paginate @categories %>
<table class="table table-bordered table-hover valign">
  <thead>
      <tr>
        <th>名称</th>
        <th>操作</th>
      </tr>
  </thead>
  <tbody>
      <% @categories.each_with_index do |category,index| %>
	      <tr>
	        <td><%= category.name %></td>
	        <td>
	        	<%= form_tag(user_category_path(category[:id]), method: "put" ) do |f| %>
	        		<%= check_box_tag "category[]",category.id, (@user_category_category_ids.present?) && @user_category_category_ids.include?(category.id), class: "select_this_category" %>
	        		 <%= submit_tag '提交',class: "submit_change_category" %>
	        	<% end %>
	        </td>
	     </tr>
      <% end %>
  </tbody>
</table>
<%= paginate @categories %>
</div>
