<h1>Session#new</h1>
<p>Find me in app/views/session/new.html.erb</p>
<ul>  
<%= form_for @user_session, :url =>  {:action=>'create'} do |f| %>  
      <li>  
    <%= f.label :login,"账号" %>  
    <%= f.text_field :login %>  
      </li>  
      <li>  
        <%= f.label :password,"密码" %>  
        <%= f.password_field :password %>  
      </li>  
      <li>  
      <%= f.submit :'登录' %>  
      </li>  
<% end %>  

<%= form_tag password_resets_path do %>
<%= text_field_tag :email %>
<%= submit_tag "Reset Password" %>
<% end %>
</ul>  
