<h1>登录</h1>
<ul>  
<%= form_for @user_session, :url =>  {:action=>'create'} do |f| %>  
      <li>  
    <%= f.label :login,"账号" %>  
    <%= f.text_field :login %>  
      </li>  
      <li>  
        <%= f.label :password,"密码" %>  
        <%= f.password_field :password %>  
      </li>  
      <li>  
        <%= link_to "重置", password_resets_new_path,class: "btn btn-border" %>
        <%= f.submit :'登录' %>  
      </li>  
<% end %>  
